<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Starts On:</b> <%= @content_block.starts_on %></p>
<p><b>Ends On:</b> <%= @content_block.ends_on %></p>
<p><b>Location:</b> <%= @content_block.location %></p>
<p><b>Contact Email:</b> <%= @content_block.contact_email %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
<p><b>More Info Url:</b> <%= @content_block.more_info_url %></p>
<p><b>Registration Url:</b> <%= @content_block.registration_url %></p>
<p><b>Category:</b> <%= @content_block.category_name %></p>
<p><b>Body:</b> <%= @content_block.body %></p>
